body {
  margin: 0rem;
  padding: 0rem;
  background: #34495e;
}
.itemsContainer {
  position: absolute;
  left: 10rem;
  top: 5rem;
  bottom: 5rem;
  width: 77rem;
}
.itemsContainer .items {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.itemsContainer .items .item {
  position: relative;
  margin-top: 0.3rem;
  height: 7rem;
  width: 100%;
  background: #2c3e50;
}
.itemsContainer .items .item .category {
  position: absolute;
  left: 2rem;
  top: 2.5rem;
  font-size: 2rem;
  color: #e74c3c;
}
.itemsContainer .items .item .itemImage {
  position: relative;
  float: left;
  left: 5rem;
  top: 1rem;
  height: 5rem;
  width: 7rem;
}
.itemsContainer .items .item .itemImage .image {
  position: relative;
  height: 100%;
  width: 100%;
}
.itemsContainer .items .item .itemDescription {
  position: relative;
  float: left;
  left: 6rem;
  top: 1rem;
  height: 5rem;
  width: 20rem;
}
.itemsContainer .items .item .itemDescription .itemName {
  position: relative;
  font-size: 1.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
}
.itemsContainer .items .item .itemDescription .description {
  position: relative;
  float: left;
  font-size: 1rem;
  color: #bdc3c7;
  margin-top: 0.3rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
.itemsContainer .items .item .price {
  position: relative;
  float: left;
  margin-left: 10rem;
  line-height: 7rem;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
}
.itemsContainer .items .item .addItem {
  position: relative;
  float: right;
  right: 5rem;
  top: 2.8rem;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}
.billContainer {
  position: absolute;
  left: 89rem;
  top: 5rem;
  bottom: 27rem;
  width: 25rem;
  right: 5rem;
}
.billContainer .yourOrder {
  position: relative;
  height: 5rem;
  width: 100%;
  background: #2c3e50;
  line-height: 5rem;
  font-size: 1.3rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.billContainer .addedItems {
  position: relative;
  margin-top: 0.3rem;
  height: 13rem;
  width: 100%;
  background: #2c3e50;
  overflow-y: scroll;
}
.billContainer .addedItems .item {
  position: relative;
  height: 4rem;
  width: 24rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  background: #95a5a6;
}
.billContainer .addedItems .item .totalItem {
  position: relative;
  height: 3rem;
  width: 3rem;
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  line-height: 3.5rem;
  font-size: 1rem;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.billContainer .addedItems .item .itemName {
  position: absolute;
  float: left;
  left: 3.5rem;
  margin-top: 1rem;
  color: #ecf0f1;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: capitalize;
}
.billContainer .addedItems .item .moreItems {
  position: relative;
  height: 3rem;
  width: 3rem;
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.billContainer .addedItems .item .moreItems .addMore {
  position: absolute;
  top: .4rem;
  left: 1.1rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.billContainer .addedItems .item .moreItems .remove {
  position: absolute;
  top: 1.8rem;
  left: 1.1rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.billContainer .itemSearched {
  position: relative;
  height: 4rem;
  width: 24rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  background: #95a5a6;
}
.billContainer .itemSearched .totalItem {
  position: relative;
  height: 3rem;
  width: 3rem;
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  line-height: 3.5rem;
  font-size: 1rem;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.billContainer .itemSearched .itemName {
  position: absolute;
  float: left;
  left: 3.5rem;
  margin-top: 1rem;
  color: #ecf0f1;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: capitalize;
}
.billContainer .itemSearched .moreItems {
  position: relative;
  height: 3rem;
  width: 3rem;
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.billContainer .itemSearched .moreItems .addMore {
  position: absolute;
  top: .4rem;
  left: 1.1rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.billContainer .itemSearched .moreItems .remove {
  position: absolute;
  top: 1.8rem;
  left: 1.1rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}
.billContainer .itemSearched .cancelItem {
  width: 3rem;
  height: 3rem;
  position: relative;
  margin-top: .5rem;
  border-radius: 1.5rem;
  float: right;
  background: #e74c3c;
}
.billContainer .itemSearched .unCancelItem {
  width: 3rem;
  height: 3rem;
  position: relative;
  margin-top: .5rem;
  margin-right: 3.5rem;
  border-radius: 1.5rem;
  float: right;
  background: #27ae60;
}
.billContainer .discountCode {
  position: relative;
  margin-top: 0.3rem;
  height: 5rem;
  width: 100%;
  padding-left: 0.7rem;
  box-sizing: border-box;
  background: #2c3e50;
}
.billContainer .discountCode .inputBox {
  position: relative;
  border: none;
  border-bottom: solid 0px #c9c9c9;
  transition: border 0.3s;
  height: 2.5rem;
  width: 23.5rem;
  margin-bottom: .1rem;
  background: transparent;
  font-size: 1.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #ffffff;
}
.billContainer .discountCode .enterGra {
  position: relative;
  height: 2rem;
  width: 23.5rem;
  font-size: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  line-height: 2rem;
  background: #27ae60;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.billContainer .finalBill {
  height: 5rem;
  width: 100%;
}
.billContainer .finalBill .total {
  position: relative;
  margin-top: 0.3rem;
  height: 5rem;
  width: 100%;
  background: #2c3e50;
  line-height: 5rem;
  color: #ffffff;
  font-size: 1rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
.billContainer .checkOut {
  position: relative;
  margin-top: 0.3rem;
  height: 3.8rem;
  width: 100%;
  line-height: 4rem;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  background: #27ae60;
  cursor: pointer;
}
.searchContainer {
  background: #2c3e50;
  position: absolute;
  left: 89rem;
  width: 25rem;
  top: 49rem;
  bottom: 5.5rem;
}
.searchContainer .inputSearch {
  position: relative;
  width: 23.5rem;
  height: 4rem;
  border: none;
  font-size: 2rem;
  background: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEEEEE;
  padding-left: .2rem;
  margin-top: .8rem;
  margin-left: .5rem;
}
.searchContainer .doSearch {
  position: relative;
  width: 24rem;
  height: 5rem;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 5rem;
  font-size: 3rem;
  font-weight: bold;
  color: #EEEEEE;
  cursor: pointer;
  margin-top: .3rem;
  margin-left: .5rem;
  background: #27ae60;
}
.clearSearch {
  background: #e74c3c;
  position: absolute;
  left: 89rem;
  width: 25rem;
  border-radius: 1rem;
  text-align: center;
  line-height: 11rem;
  font-size: 3.5rem;
  color: #EEEEEE;
  font-weight: bold;
  top: 49rem;
  bottom: 5.5rem;
  display: none;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
